<nav>
    <div class="navLogo">
        <img src="img/logo.png" alt="logo">
    </div>

    <ul class="navList">
        <li>Tentang Kami</li>
        <li>Klinik</li>
        <li>Daycare & Grooming</li>
        <li>Adopsi</li>
    </ul>
    <div class="navHamburger">
        <div class="navHamburgerBar"></div>
        <div class="navHamburgerBar"></div>
        <div class="navHamburgerBar"></div>
    </div>

</nav>